<% include header %>
<% if (entries.length) { %>
  <% entries.forEach(function(entry) { %>
    <%= entry.title %>
  <% }) %>
<% } else { %>
  No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>